<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1 style="text-align: center;">Welcome to Home Page</h1>
    <h3 style="text-align: center;">Want to try our weather app? <a class="link" href="/myw">Tap here</a></p>

</body>
<%- include('footer.ejs', { yourName: 'Aruzhan', groupNumber: 'SE-2201' }) %>

</html>