<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>

    <div id="weatherResult">

    </div>

    <%- include('footer.ejs', { yourName: 'Aruzhan', groupNumber: 'SE-2201' }) %>
</body>
</html>
